* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

main {
  flex: 1;
  padding: 0 0.5rem;
}

p,
li {
    line-height: 1.8em;
}