* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 0 0.5rem;
  max-width: 700px;
  margin: 2rem auto;
  margin-bottom: 4rem;
}

main h2 {
    margin-bottom: 20px;
}

p,
li {
  line-height: 1.8em;
}
